* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    width: 100vw;
    height: 9vh;
    background: linear-gradient(to bottom, #024c53, #021b1d);
    display: inline-block; 
    align-items: baseline;
}
.sectionFirst {
    border: 1px;
    border-radius: 8px;
    margin: auto 0;
    max-width: 11rem;
    max-height: 11rem;
    text-align: center; 
    flex-wrap: wrap;
}
.sectionSecond {
    border: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background: linear-gradient(to top, #024c53, #021b1d);
    align-items: center;
    width: 100vw;
    height: 6vh;
    flex-wrap: wrap;
}
.logo {
    max-width: 5rem;
    max-height: 5rem;
    margin: 0 auto;

}
.imagen_1 {
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 8px;    
    margin: 1px;
}
main {
    width: 100vw;
    height: 70vh;
    background-color:rgb(238, 241, 216);
    display:inline-block;
}
.figuraPrincipal{
    display: flex;
    justify-content: center;
}
.imagenPrincipal{
    height: 50vh;
}



.texto_1{
    font-size: 2.5rem;
    color: rgb(238, 241, 216);
}

ul li{
    list-style: none;
    display: inline-block;
    margin: 0 2rem;
}
.sectionThird {
    width: 100vw;
    height: 50vh;
    background-color: rgb(238, 241, 216);
    margin: 0 auto;
    display: inline-block;
    align-content: center;

}
.finalSection {
    width: 100vw;
    height: 20vh;
    background: linear-gradient(to bottom, #024c53, #021b1d);
    margin: 0 auto;
    position: relative;
    order: 1;
    text-align: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;    
    border:  #021b1d 1px solid;
}
.finalSection p{
    font-size: 2.5rem;
    color: rgb(238, 241, 216);
    margin: 1rem;
}
.contenedorConsultarCertificado{
    display: flex;
    justify-content: space-evenly;
}
.consultarCertificado_1 {
    display: inline-block;
    margin: 0;
    border: 0;
    border-radius: 1rem;
    max-width: 30rem;
    max-height: 4rem;
}
.consultarCertificado_2 {
    display: inline-block;
    margin: 0;
    border: 0;
    border-radius: 1rem;
    max-width: 20rem;
    max-height: 4rem;
}
.consultarCertificado_3 {
    background-color: #f59b1a;
    box-shadow: 0 2px 0 #895306;
    display: inline-block;
    margin: 0;
    border: 0;
    border-radius: 1rem;
    width: 12rem;
    max-width: 15rem;
    max-height: 5rem;
    font-size: 1.9rem;
    align-items: center;
    color: black;
    font-weight: bold;
}
footer {
    width: 100vw;
    height: 15vh;
    background-color:rgb(202, 202, 202);
    border-top: black 0.1rem solid;
    display:inline-block;
    align-items: center;
    background:rgb(236, 236, 236);
}
.foot1{
    margin: 1rem 1rem;
    display: flex;
    justify-content: center;
}

li img{
    width: 2rem;
    height: 2rem;
    max-width: 2rem;
    max-height: 2rem;
}
.foot2 li{
    list-style: none;
    display: inline-block;
    margin: 0 2rem;
    color: #021b1d;
    display:inline-block;
    justify-content: space-evenly;
    flex-wrap: wrap
}
.texto_2{
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
    position: relative;
}
.foot3{
    font-size: 1.5rem;
    color: #021b1d;
    display: flex;
    justify-content: space-evenly;
}